n8n/workflows/cronostudio-ingest-analytics-daily.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Create Analytics": {
      "main": [
        [
          {
            "index": 0,
            "node": "Complete Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Create Automation Run": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch CronoStudio Videos",
            "type": "main"
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Login CronoStudio",
            "type": "main"
          }
        ]
      ]
    },
    "Login CronoStudio": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Split Videos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch YouTube Analytics",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch CronoStudio Videos": {
      "main": [
        [
          {
            "node": "Map Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Videos": {
      "main": [
        [
          {
            "node": "Build Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Date Range": {
      "main": [
        [
          {
            "node": "Split Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Analytics": {
      "main": [
        [
          {
            "node": "Map Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Analytics": {
      "main": [
        [
          {
            "node": "Create Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T13:22:47.053+00:00",
  "description": null,
  "id": "UrKACmB0FVBVaGHeySdYQ",
  "isArchived": false,
  "meta": null,
  "name": "CronoStudio - Ingest Analytics Daily",
  "nodes": [
    {
      "id": "180c057b-7f6d-431f-bbab-53ad539b9143",
      "name": "Daily Trigger",
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        }
      },
      "position": [
        -928,
        144
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "id": "7450f2c6-2c8a-43cd-acae-9fc1feb985b7",
      "name": "Login CronoStudio",
      "parameters": {
        "options": {
          "followRedirect": true,
          "fullResponse": true
        },
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/auth/login",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"email\":\"{{$env.CRONOSTUDIO_EMAIL}}\",\"password\":\"{{$env.CRONOSTUDIO_PASSWORD}}\"}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -704,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "0f188cac-b155-4480-be25-5d07990edbf7",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"ingest-analytics\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -656,
        416
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "302fd78a-ca40-4ec8-97d0-de8a37e4a247",
      "name": "Fetch CronoStudio Videos",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/videos?limit=100&offset=0",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -432,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "3f154b2a-cd08-4d39-884b-dfa56d6bbf39",
      "name": "Map Videos",
      "parameters": {},
      "position": [
        -224,
        144
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "id": "e0527668-6beb-45ea-86d0-8b2837ddc94a",
      "name": "Build Date Range",
      "parameters": {},
      "position": [
        -80,
        -16
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "id": "19223740-90bc-4f37-ae4f-b373dec3f65a",
      "name": "Split Videos",
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "position": [
        -80,
        144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2
    },
    {
      "id": "b0cb6c0a-8c34-44ca-b105-edd5ba477d3d",
      "name": "Fetch YouTube Analytics",
      "parameters": {
        "options": {},
        "url": "https://youtubeanalytics.googleapis.com/v2/reports"
      },
      "position": [
        112,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "8b1c9d91-e0cb-4a0c-9248-bc701e24ee94",
      "name": "Map Analytics",
      "parameters": {},
      "position": [
        320,
        144
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "continueOnFail": true,
      "id": "9eb0dff4-2db5-4494-b57c-e20a898bebb5",
      "name": "Create Analytics",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/analytics",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        560,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "516c58fa-d56e-4557-b327-e95a7081a3f6",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        752,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    }
  ],
  "parentFolderId": "gxbXukDSOK73dF3N",
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 0,
  "updatedAt": "2026-02-02T08:03:05.083+00:00",
  "versionCounter": 9,
  "versionId": "8134579c-7949-4a0a-80bd-d8f382009111"
}
