n8n/workflows/cronostudio-sync-channels.json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Login CronoStudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login CronoStudio": {
      "main": [
        [
          {
            "node": "Create Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Sync YouTube Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync YouTube Channels": {
      "main": [
        [
          {
            "node": "Complete Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T13:23:12.087+00:00",
  "description": null,
  "id": "W1NhLFgrKzY253HRyAtgY",
  "isArchived": false,
  "meta": null,
  "name": "CronoStudio - Sync YouTube Channels",
  "nodes": [
    {
      "id": "471703ef-b7ac-4969-bb10-7e50341af6c1",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -448,
        112
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "8889348c-f1e7-4b5f-aeb7-01c522b41a5a",
      "name": "Login CronoStudio",
      "parameters": {
        "options": {
          "followRedirect": true,
          "fullResponse": true
        },
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/auth/login",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"email\":\"{{$env.CRONOSTUDIO_EMAIL}}\",\"password\":\"{{$env.CRONOSTUDIO_PASSWORD}}\"}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -176,
        112
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "92d1d48e-b735-4864-9322-4d1480665b97",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"sync-channels\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -160,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "e0995451-42c5-4902-98d8-c331d0a1509d",
      "name": "Sync YouTube Channels",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/integrations/youtube/sync/channels",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={}"
      },
      "position": [
        80,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "93994b35-0b69-47c1-91ac-afbd6d3b3303",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        320,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    }
  ],
  "settings": {}
}
