n8n/workflows/cronostudio-sync-videos.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Fetch CronoStudio Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "Complete Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch YouTube Videos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch CronoStudio Videos",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch CronoStudio Channels": {
      "main": [
        [
          {
            "node": "Demo Video Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Channels": {
      "main": [
        [
          {
            "node": "Fetch YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CronoStudio Videos": {
      "main": [
        [
          {
            "node": "Map Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Videos": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Video Payload": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T13:23:31.93+00:00",
  "description": null,
  "id": "VhFo0V9gSXrbj0gC1Cq0o",
  "isArchived": false,
  "meta": null,
  "name": "CronoStudio - Sync YouTube Videos",
  "nodes": [
    {
      "id": "af687e90-53ac-4cbf-b554-81d7f481a7f4",
      "name": "Daily Trigger",
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "position": [
        -480,
        0
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "id": "de31a2f4-b74c-4ff0-8aa8-5052939778cb",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -480,
        -176
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "9f44dd5a-a606-4420-b8cc-4fcf008c5747",
      "name": "Execute Workflow Trigger",
      "parameters": {},
      "position": [
        -480,
        -304
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "id": "35e38399-f7f6-4c4b-989c-ad15e7389ee6",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"sync-videos\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        0,
        -176
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "0417b999-2214-454c-a985-bd29a8e131ed",
      "name": "Fetch CronoStudio Channels",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/channels",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        192,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "73f727c0-4d8b-4296-a57e-7ab8d7bfbd9b",
      "name": "Map Channels",
      "parameters": {},
      "position": [
        432,
        -32
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "id": "60180c9e-2cd2-4b2a-948d-bc3c70f4ec46",
      "name": "Fetch YouTube Videos",
      "parameters": {
        "options": {},
        "url": "https://www.googleapis.com/youtube/v3/search"
      },
      "position": [
        672,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "543ef0ee-ff4f-4b65-9bf7-537ebc25de55",
      "name": "Fetch CronoStudio Videos",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/videos?channelId={{$json.channelId}}&limit=100&offset=0",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        912,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "ef96ce48-e7c6-46a5-9d3c-b6a5e6667035",
      "name": "Map Videos",
      "parameters": {},
      "position": [
        1152,
        -32
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "continueOnFail": true,
      "id": "bee0fd03-dc98-4b6a-bd52-04a6025f8406",
      "name": "Create Video",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/videos",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "position": [
        1392,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "bf5710eb-847a-42f6-b6dd-dca3e1a18b95",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        1584,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "2b25c054-ddb2-496e-864a-0e7ed70eb503",
      "name": "Demo Video Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        260
      ],
      "parameters": {
        "jsCode": "// Demo Video Payload\n// Requiere que ya exista al menos 1 channel en CronoStudio (ya lo creamos en el paso anterior).\nconst channels = $items(\"Fetch CronoStudio Channels\", 0).map(i => i.json);\nif (!channels.length) {\n  throw new Error(\"No channels found in CronoStudio. Run Sync YouTube Channels first.\");\n}\nconst ch = channels[0];\n\nconst suffix = new Date().toISOString().replace(/[-:.TZ]/g,'').slice(0,14);\n\nreturn [{\n  json: {\n    channelId: ch.id,\n    youtubeVideoId: `VID_DEMO_${suffix}`,\n    title: `Demo Video ${suffix}`,\n    description: \"demo\",\n    publishedAt: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "parentFolderId": "gxbXukDSOK73dF3N",
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 0,
  "updatedAt": "2026-01-31T08:01:10.03+00:00",
  "versionCounter": 8,
  "versionId": "8a1fd989-5ec2-40d9-b28a-2bdc779d5ae0"
}