n8n/workflows/cronostudio-demo-seed-videos.json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Login CronoStudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login CronoStudio": {
      "main": [
        [
          {
            "node": "Create Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Fetch CronoStudio Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CronoStudio Channels": {
      "main": [
        [
          {
            "node": "Build Demo Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Demo Videos": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Complete Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T18:40:00.000Z",
  "id": "demo-seed-videos",
  "name": "CronoStudio - Demo Seed Videos",
  "nodes": [
    {
      "id": "demo-trigger-videos",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -520,
        160
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "demo-login-videos",
      "name": "Login CronoStudio",
      "parameters": {
        "options": {
          "followRedirect": true,
          "fullResponse": true
        },
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/auth/login",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"email\":\"{{$env.CRONOSTUDIO_EMAIL}}\",\"password\":\"{{$env.CRONOSTUDIO_PASSWORD}}\"}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -280,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "demo-run-videos",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"demo-seed-videos\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -40,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "demo-fetch-channels",
      "name": "Fetch CronoStudio Channels",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/channels",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        200,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "demo-build-videos",
      "name": "Build Demo Videos",
      "parameters": {
        "functionCode": "const channels = $items('Fetch CronoStudio Channels').map((item) => item.json);\nconst channel = channels[0];\nif (!channel) return [];\n\nconst now = new Date().toISOString();\nconst demo = [\n  { youtubeVideoId: 'demo_video_1', title: 'Video Demo 1' },\n  { youtubeVideoId: 'demo_video_2', title: 'Video Demo 2' },\n];\n\nreturn demo.map((video) => ({\n  json: {\n    channelId: channel.id,\n    youtubeVideoId: video.youtubeVideoId,\n    title: video.title,\n    description: 'Video demo generado localmente',\n    publishedAt: now,\n  },\n}));"
      },
      "position": [
        440,
        160
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "continueOnFail": true,
      "id": "demo-create-video",
      "name": "Create Video",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/videos",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "position": [
        680,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "demo-complete-videos",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node[\"Login CronoStudio\"].json[\"headers\"][\"set-cookie\"].map(cookie => cookie.split(\";\")[0]).join(\"; \")}}"
            },
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        920,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "versionCounter": 1
}
