n8n/workflows/cronostudio-sync-channels.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Fetch CronoStudio Channels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Complete Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Channel": {
      "main": [
        [
          {
            "node": "Complete Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CronoStudio Channels": {
      "main": [
        [
          {
            "node": "Is Demo Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch YouTube Channels": {
      "main": [
        [
          {
            "node": "Normalize YouTube Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Channels": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Channel Payload": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Demo Mode?": {
      "main": [
        [
          {
            "node": "Demo Channel Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch YouTube Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Channels": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T13:23:12.087+00:00",
  "description": null,
  "id": "W1NhLFgrKzY253HRyAtgY",
  "isArchived": false,
  "meta": null,
  "name": "CronoStudio - Sync YouTube Channels",
  "nodes": [
    {
      "id": "471703ef-b7ac-4969-bb10-7e50341af6c1",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -448,
        112
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "92d1d48e-b735-4864-9322-4d1480665b97",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"sync-channels\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -160,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "8b66e577-6b07-45e2-bbda-44435b41cec7",
      "name": "Fetch CronoStudio Channels",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/channels",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        32,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "e0995451-42c5-4902-98d8-c331d0a1509d",
      "name": "Fetch YouTube Channels",
      "parameters": {
        "options": {},
        "url": "https://www.googleapis.com/youtube/v3/channels"
      },
      "position": [
        80,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "3c6bb37f-61c9-4ab8-9b2b-b966cc9aaff6",
      "name": "Create Channel",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/channels",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "position": [
        528,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "93994b35-0b69-47c1-91ac-afbd6d3b3303",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        720,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "a9c18e97-deea-4946-b82b-f299e5c6bdd5",
      "name": "Demo Channel Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        260
      ],
      "parameters": {
        "jsCode": "// Demo Channel Payload\nreturn [{\n  json: {\n    youtubeChannelId: \"UC_DEMO_CHANNEL_999\",\n    name: \"Demo Channel 999\",\n    refreshToken: null\n  }\n}];"
      }
    },
    {
      "id": "25f1dccf-d6ea-4bef-9b8f-c0813dadc487",
      "name": "Resolve Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        80
      ],
      "parameters": {
        "jsCode": "const mode = ($env.CRONOSTUDIO_N8N_MODE || 'demo').toLowerCase();\nreturn [{ json: { mode } }];"
      }
    },
    {
      "id": "c9ee6ee0-0c93-4010-b4b1-0f0cea47014d",
      "name": "Is Demo Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        80
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{($env.CRONOSTUDIO_N8N_MODE || 'demo').toLowerCase()}}",
              "operation": "equal",
              "value2": "demo"
            }
          ]
        }
      }
    },
    {
      "id": "7de35cd2-3a3a-403a-8d16-653ef2c75c16",
      "name": "Normalize YouTube Channels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ],
      "parameters": {
        "jsCode": "const existing = $items('Fetch CronoStudio Channels', 0).map(i => i.json);\nconst existingIds = new Set(existing.map(c => c.youtube_channel_id).filter(Boolean));\nconst ytRaw = $items('Fetch YouTube Channels', 0).map(i => i.json);\nlet ytChannels = [];\nif (Array.isArray(ytRaw) && ytRaw.length > 0) {\n  if (ytRaw.length === 1 && ytRaw[0]?.items && Array.isArray(ytRaw[0].items)) {\n    ytChannels = ytRaw[0].items;\n  } else if (ytRaw.length === 1 && ytRaw[0]?.data?.items && Array.isArray(ytRaw[0].data.items)) {\n    ytChannels = ytRaw[0].data.items;\n  } else {\n    ytChannels = ytRaw;\n  }\n}\nconst payloads = ytChannels.map(ch => {\n  const id = ch.id || ch.youtube_channel_id || ch.snippet?.channelId;\n  const name = ch.snippet?.title || ch.name || '';\n  if (!id || !name) return null;\n  return {\n    youtubeChannelId: id,\n    name,\n    refreshToken: null\n  };\n}).filter(Boolean).filter(ch => !existingIds.has(ch.youtubeChannelId));\nreturn payloads.map(ch => ({ json: ch }));"
      }
    }
  ],
  "parentFolderId": "gxbXukDSOK73dF3N",
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 0,
  "updatedAt": "2026-01-31T08:01:06.914+00:00",
  "versionCounter": 9,
  "versionId": "5abcd74f-2825-43f6-b3db-e248e92efcc6"
}