n8n/workflows/cronostudio-ingest-analytics-daily.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Create Analytics": {
      "main": [
        [
          {
            "index": 0,
            "node": "Complete Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Fetch CronoStudio Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Automation Run",
            "type": "main"
          }
        ]
      ]
    },
    "Split Videos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch YouTube Analytics",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch CronoStudio Videos": {
      "main": [
        [
          {
            "node": "Demo Analytics Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Videos": {
      "main": [
        [
          {
            "node": "Build Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Date Range": {
      "main": [
        [
          {
            "node": "Split Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Analytics": {
      "main": [
        [
          {
            "node": "Map Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Analytics": {
      "main": [
        [
          {
            "node": "Create Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Analytics Payload": {
      "main": [
        [
          {
            "node": "Create Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T13:22:47.053+00:00",
  "description": null,
  "id": "UrKACmB0FVBVaGHeySdYQ",
  "isArchived": false,
  "meta": null,
  "name": "CronoStudio - Ingest Analytics Daily",
  "nodes": [
    {
      "id": "180c057b-7f6d-431f-bbab-53ad539b9143",
      "name": "Daily Trigger",
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        }
      },
      "position": [
        -928,
        144
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "id": "b3f3150f-90dc-45a1-a379-e16cf028ef5b",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -928,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "e5fe7d57-d1de-44a0-a52a-f7b3aa4f5e9f",
      "name": "Execute Workflow Trigger",
      "parameters": {},
      "position": [
        -928,
        -128
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "id": "0f188cac-b155-4480-be25-5d07990edbf7",
      "name": "Create Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs",
        "sendHeaders": true,
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\":\"ingest-analytics\",\"status\":\"running\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -656,
        416
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "302fd78a-ca40-4ec8-97d0-de8a37e4a247",
      "name": "Fetch CronoStudio Videos",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/videos?limit=100&offset=0",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        -432,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "3f154b2a-cd08-4d39-884b-dfa56d6bbf39",
      "name": "Map Videos",
      "parameters": {},
      "position": [
        -224,
        144
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "id": "e0527668-6beb-45ea-86d0-8b2837ddc94a",
      "name": "Build Date Range",
      "parameters": {},
      "position": [
        -80,
        -16
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "id": "19223740-90bc-4f37-ae4f-b373dec3f65a",
      "name": "Split Videos",
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "position": [
        -80,
        144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2
    },
    {
      "id": "b0cb6c0a-8c34-44ca-b105-edd5ba477d3d",
      "name": "Fetch YouTube Analytics",
      "parameters": {
        "options": {},
        "url": "https://youtubeanalytics.googleapis.com/v2/reports"
      },
      "position": [
        112,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "8b1c9d91-e0cb-4a0c-9248-bc701e24ee94",
      "name": "Map Analytics",
      "parameters": {},
      "position": [
        320,
        144
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 2
    },
    {
      "continueOnFail": true,
      "id": "9eb0dff4-2db5-4494-b57c-e20a898bebb5",
      "name": "Create Analytics",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/analytics",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "position": [
        560,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "continueOnFail": true,
      "id": "516c58fa-d56e-4557-b327-e95a7081a3f6",
      "name": "Complete Automation Run",
      "parameters": {
        "options": {},
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "sendHeaders": true,
        "method": "PUT",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"completed\"}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cronostudio-webhook-secret",
              "value": "={{$env.CRONOSTUDIO_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "position": [
        752,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3
    },
    {
      "id": "f9d26b39-09fd-44ee-b0c8-0d53e645bbdb",
      "name": "Demo Analytics Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        260
      ],
      "parameters": {
        "jsCode": "// Demo Analytics Payload\n// Requiere que ya exista al menos 1 video en CronoStudio (ya lo creamos con Sync Videos demo).\nconst res = $items(\"Fetch CronoStudio Videos\", 0).map(i => i.json);\n\nlet videos = [];\nif (res.length === 1 && res[0]?.data && Array.isArray(res[0].data)) videos = res[0].data;\nelse videos = res;\n\nif (!videos.length) {\n  throw new Error(\"No videos found in CronoStudio. Run Sync YouTube Videos first.\");\n}\n\nconst v = videos[0];\nconst today = new Date();\nconst yyyy = today.getUTCFullYear();\nconst mm = String(today.getUTCMonth()+1).padStart(2,'0');\nconst dd = String(today.getUTCDate()).padStart(2,'0');\nconst date = `${yyyy}-${mm}-${dd}`;\n\nreturn [{\n  json: {\n    videoId: v.id,\n    date,\n    views: 12,\n    watchTimeMinutes: 3,\n    avgViewDurationSeconds: 15\n  }\n}];"
      }
    }
  ],
  "parentFolderId": "gxbXukDSOK73dF3N",
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 0,
  "updatedAt": "2026-02-02T08:03:05.083+00:00",
  "versionCounter": 9,
  "versionId": "8134579c-7949-4a0a-80bd-d8f382009111"
}