n8n/workflows/cronostudio-sync-channels.json
{
  "name": "CronoStudio - Sync YouTube Channels",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/auth/login",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { email: $env.CRONOSTUDIO_EMAIL, password: $env.CRONOSTUDIO_PASSWORD } }}"
      },
      "id": "2",
      "name": "Login CronoStudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs",
        "jsonParameters": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Login CronoStudio\"].json[\"token\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={{ { workflowName: 'CronoStudio - Sync YouTube Channels', status: 'running' } }}"
      },
      "id": "7",
      "name": "Create Automation Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [520, 160]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/channels",
        "responseFormat": "json",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Login CronoStudio\"].json[\"token\"]}}"
            }
          ]
        }
      },
      "id": "6",
      "name": "Fetch CronoStudio Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 160]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{$env.YOUTUBE_CHANNEL_IDS}}"
            },
            {
              "name": "key",
              "value": "={{$env.YOUTUBE_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Fetch YouTube Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const existing = ($node['Fetch CronoStudio Channels'].json || []).map((channel) => channel.youtube_channel_id);\nconst existingSet = new Set(existing);\nconst channels = items[0].json.items || [];\nreturn channels.map((channel) => ({\n  json: {\n    name: channel.snippet?.title || 'Canal',\n    youtubeChannelId: channel.id\n  }\n})).filter((item) => item.json.youtubeChannelId && !existingSet.has(item.json.youtubeChannelId));"
      },
      "id": "4",
      "name": "Map Channels",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/channels",
        "jsonParameters": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Login CronoStudio\"].json[\"token\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={{ { name: $json.name, youtubeChannelId: $json.youtubeChannelId, refreshToken: null } }}"
      },
      "id": "5",
      "name": "Create Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1180, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "PUT",
        "url": "={{$env.CRONOSTUDIO_API_BASE_URL || 'http://localhost:3000/api'}}/automation-runs?id={{$node[\"Create Automation Run\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Login CronoStudio\"].json[\"token\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={{ { status: 'completed' } }}"
      },
      "id": "8",
      "name": "Complete Automation Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1380, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Login CronoStudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login CronoStudio": {
      "main": [
        [
          {
            "node": "Create Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Automation Run": {
      "main": [
        [
          {
            "node": "Fetch CronoStudio Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CronoStudio Channels": {
      "main": [
        [
          {
            "node": "Fetch YouTube Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Channels": {
      "main": [
        [
          {
            "node": "Map Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Channels": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Channel": {
      "main": [
        [
          {
            "node": "Complete Automation Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
